<!-- wp:block {"ref":580} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-tertiary-background-color has-background" style="margin-top:0;margin-bottom:0"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|small"}}},"fontSize":"x-small"} -->
<div class="wp-block-columns alignwide has-x-small-font-size" style="padding-top:var(--wp--preset--spacing--small)"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:yoast-seo/breadcrumbs /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Header"},"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|medium","left":"var:preset|spacing|medium","top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|large","margin":{"top":"0","bottom":"0"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-tertiary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:columns {"verticalAlignment":"bottom","metadata":{"name":"Title and Subtitle"},"align":"wide"} -->
<div class="wp-block-columns alignwide are-vertically-aligned-bottom"><!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:heading {"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-x-large-font-size">院長ブログへようこそ</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">ここでは、JADE CLINIC. 院長が日々の診療や美容医療の最新情報、健康や美しさにまつわるヒントをお届けします。<br>施術の裏側や日常の気づき、専門家だからこそ語れるリアルな話まで、<br>少し肩の力を抜いてお楽しみください。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"border-light"} -->
<hr class="wp-block-separator alignwide has-text-color has-border-light-color has-alpha-channel-opacity has-border-light-background-color has-background is-style-separator-thin"/>
<!-- /wp:separator -->

<!-- wp:group {"metadata":{"name":"Topics Row"},"align":"wide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"metadata":{"name":"Topics Wrap"},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>人気のタグ:</strong></p>
<!-- /wp:paragraph -->

<!-- wp:group {"metadata":{"name":"Topics"},"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Topic"},"style":{"spacing":{"padding":{"top":"6px","bottom":"6px","left":"12px","right":"12px"}},"border":{"radius":"5px","bottom":{"color":"var:preset|color|border-light","width":"1px"},"top":[],"right":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"backgroundColor":"base","textColor":"secondary","fontSize":"small","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-secondary-color has-base-background-color has-text-color has-background has-link-color has-small-font-size" style="border-radius:5px;border-bottom-color:var(--wp--preset--color--border-light);border-bottom-width:1px;padding-top:6px;padding-right:12px;padding-bottom:6px;padding-left:12px"><!-- wp:paragraph -->
<p><a href="https://jadeclinic.local/dr-tags/female-doctor/" data-type="link" data-id="https://jadeclinic.local/dr-tags/female-doctor/">女医</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Topic"},"style":{"spacing":{"padding":{"top":"6px","bottom":"6px","left":"12px","right":"12px"}},"border":{"radius":"5px","bottom":{"color":"var:preset|color|border-light","width":"1px"},"top":[],"right":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"backgroundColor":"base","textColor":"secondary","fontSize":"small","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-secondary-color has-base-background-color has-text-color has-background has-link-color has-small-font-size" style="border-radius:5px;border-bottom-color:var(--wp--preset--color--border-light);border-bottom-width:1px;padding-top:6px;padding-right:12px;padding-bottom:6px;padding-left:12px"><!-- wp:paragraph -->
<p><a href="https://jadeclinic.local/dr-tags/cosmetic-dermatology/" data-type="link" data-id="https://jadeclinic.local/dr-tags/cosmetic-dermatology/">美容皮膚科</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Topic"},"style":{"spacing":{"padding":{"top":"6px","bottom":"6px","left":"12px","right":"12px"}},"border":{"radius":"5px","bottom":{"color":"var:preset|color|border-light","width":"1px"},"top":[],"right":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"backgroundColor":"base","textColor":"secondary","fontSize":"small","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-secondary-color has-base-background-color has-text-color has-background has-link-color has-small-font-size" style="border-radius:5px;border-bottom-color:var(--wp--preset--color--border-light);border-bottom-width:1px;padding-top:6px;padding-right:12px;padding-bottom:6px;padding-left:12px"><!-- wp:paragraph -->
<p><a href="https://jadeclinic.local/dr-tags/fine-lines/" data-type="link" data-id="https://jadeclinic.local/dr-tags/fine-lines/">小じわ</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Latest Posts"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Posts"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
<div class="wp-block-group alignwide"><!-- wp:jet-engine/listing-grid {"lisitng_id":"945","columns":"2","columns_tablet":"2","posts_num":10,"custom_post_types":["post"],"lazy_load_offset":2,"load_more_type":"scroll","loader_spinner":true,"_block_id":"38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e","className":"wp-block-jet-engine-listing-grid jet-sm-gb-wrapper jet-sm-gb-38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e","blockID":"jet-sm-gb-38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e"} /-->

<!-- wp:jet-smart-filters/pagination {"content_provider":"jet-engine","prev_text":"前へ","next_text":"次へ","className":"wp-block-jet-smart-filters-pagination jet-sm-gb-wrapper jet-sm-gb-7b50e6da-1ce3-4286-baad-6b0973264b7a","blockID":"jet-sm-gb-7b50e6da-1ce3-4286-baad-6b0973264b7a"} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:block {"ref":91} /-->

<!-- wp:block {"ref":1525} /-->