<!-- wp:block {"ref":580} /-->

<!-- wp:group {"metadata":{"name":"Header"},"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|medium","left":"var:preset|spacing|medium","top":"0","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|large","margin":{"top":"0","bottom":"0"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-tertiary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|small"}}},"fontSize":"x-small"} -->
<div class="wp-block-columns alignwide has-x-small-font-size" style="padding-top:var(--wp--preset--spacing--small)"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:yoast-seo/breadcrumbs /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"verticalAlignment":"bottom","metadata":{"name":"Title and Subtitle"},"align":"wide"} -->
<div class="wp-block-columns alignwide are-vertically-aligned-bottom"><!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:heading {"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-x-large-font-size">症例データ一覧</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">JADE CLINICでは、「自然にきれい」を大切にしながら、お一人おひとりに合わせた施術をご提案しています。<br>このページでは、実際に当院で施術を受けられた方のビフォーアフターや、回復までの流れをご紹介。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"border-light"} -->
<hr class="wp-block-separator alignwide has-text-color has-border-light-color has-alpha-channel-opacity has-border-light-background-color has-background is-style-separator-thin"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"美容外科🎯"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull has-tertiary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Titles"},"align":"wide","className":"ollie-row-stack","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide ollie-row-stack"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"typography":{"letterSpacing":"-1px"}},"fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size" style="letter-spacing:-1px">美容外科</h3>
<!-- /wp:heading -->

<!-- wp:jet-engine/dynamic-terms {"from_tax":"dr-tags","className":"wp-block-jet-engine-dynamic-terms jet-sm-gb-wrapper jet-sm-gb-5030b3ae-a632-4169-a504-2b670e6fbc62","blockID":"jet-sm-gb-5030b3ae-a632-4169-a504-2b670e6fbc62"} /--></div>
<!-- /wp:group -->

<!-- wp:heading {"level":3,"fontSize":"base","jetEngineDynamicData":{"content":{"data_source":"custom","macros":"query_count","query_id":"7","filter_output":false,"count_type":"custom_format","custom_format":"[total]件の症例が見つかりました"}}} -->
<h3 class="wp-block-heading has-base-font-size">%%content%%</h3>
<!-- /wp:heading -->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignfull"><!-- wp:jet-smart-filters/select {"filter_id":1155,"content_provider":"jet-engine","query_id":"case-gallery-surgery","className":"wp-block-jet-smart-filters-select jet-sm-gb-wrapper jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52","blockID":"jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52"} /-->

<!-- wp:jet-smart-filters/select {"filter_id":1367,"content_provider":"jet-engine","query_id":"case-gallery-surgery","className":"wp-block-jet-smart-filters-select jet-sm-gb-wrapper jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52","blockID":"jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52"} /-->

<!-- wp:jet-smart-filters/select {"filter_id":1165,"content_provider":"jet-engine","query_id":"case-gallery-surgery","className":"wp-block-jet-smart-filters-select jet-sm-gb-wrapper jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52","blockID":"jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52","blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"large":true,"medium":true,"small":true}}}}]}} /-->

<!-- wp:jet-smart-filters/remove-filters {"content_provider":"jet-engine","remove_filters_text":"クリア","query_id":"case-gallery-surgery","className":"wp-block-jet-smart-filters-remove-filters jet-sm-gb-wrapper jet-sm-gb-7346559d-a73d-498e-886e-6e73d7617e04","blockID":"jet-sm-gb-7346559d-a73d-498e-886e-6e73d7617e04"} /--></div>
<!-- /wp:group -->

<!-- wp:html -->
<style>.jet-remove-all-filters .jet-remove-all-filters__button {
    font-size: 14px;
}</style>
<!-- /wp:html --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Latest Posts"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Posts"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
<div class="wp-block-group alignwide"><!-- wp:jet-engine/listing-grid {"lisitng_id":"491","columns":"2","columns_tablet":"1","custom_query":true,"custom_query_id":"7","not_found_message":"お探しの症例データは見つかりませんでした。「クリア」ボタンをクリックして、もう一度さがしてみましょう。","_block_id":"38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e","_element_id":"case-gallery-surgery","className":"wp-block-jet-engine-listing-grid jet-sm-gb-wrapper jet-sm-gb-38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e","blockID":"jet-sm-gb-38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e"} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"美容外科🎯"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull has-tertiary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Titles"},"align":"wide","className":"ollie-row-stack","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide ollie-row-stack"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"typography":{"letterSpacing":"-1px"}},"fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size" style="letter-spacing:-1px">美容皮膚科</h3>
<!-- /wp:heading -->

<!-- wp:jet-engine/dynamic-terms {"from_tax":"dr-tags","className":"wp-block-jet-engine-dynamic-terms jet-sm-gb-wrapper jet-sm-gb-5030b3ae-a632-4169-a504-2b670e6fbc62","blockID":"jet-sm-gb-5030b3ae-a632-4169-a504-2b670e6fbc62"} /--></div>
<!-- /wp:group -->

<!-- wp:heading {"level":3,"fontSize":"base","jetEngineDynamicData":{"content":{"data_source":"custom","macros":"query_count","query_id":"8","filter_output":false,"count_type":"custom_format","custom_format":"[total]件の症例が見つかりました"}}} -->
<h3 class="wp-block-heading has-base-font-size">%%content%%</h3>
<!-- /wp:heading -->

<!-- wp:group {"align":"full","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignfull"><!-- wp:jet-smart-filters/select {"filter_id":1163,"content_provider":"jet-engine","query_id":"case-gallery-skin","className":"wp-block-jet-smart-filters-select jet-sm-gb-wrapper jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52","blockID":"jet-sm-gb-74a87ffa-1fb8-4709-a552-3768d6bb2d52"} /-->

<!-- wp:jet-smart-filters/remove-filters {"content_provider":"jet-engine","remove_filters_text":"絞り込みをクリア","query_id":"case-gallery-skin","className":"wp-block-jet-smart-filters-remove-filters jet-sm-gb-wrapper jet-sm-gb-7346559d-a73d-498e-886e-6e73d7617e04","blockID":"jet-sm-gb-7346559d-a73d-498e-886e-6e73d7617e04"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Latest Posts"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Posts"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
<div class="wp-block-group alignwide"><!-- wp:jet-engine/listing-grid {"lisitng_id":"491","columns":"2","columns_tablet":"1","custom_query":true,"custom_query_id":"8","_block_id":"0698719d-82ff-450d-a6c3-09e0ba9ecb8a","_element_id":"case-gallery-skin","className":"wp-block-jet-engine-listing-grid jet-sm-gb-wrapper jet-sm-gb-38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e","blockID":"jet-sm-gb-38b26f2e-0f8d-4b0d-96f0-f728e27b8c1e"} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:block {"ref":91} /-->

<!-- wp:block {"ref":1525} /-->