<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content Area"},"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|xx-large"},"blockGap":"var:preset|spacing|medium"}},"gradient":"light-section-fade","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide has-light-section-fade-gradient-background has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|small"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--small)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"chevron","fontSize":"x-small"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"chevron","fontSize":"x-small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Project Header"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|x-large","left":"0","right":"0"},"blockGap":"var:preset|spacing|large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:0;padding-bottom:var(--wp--preset--spacing--x-large);padding-left:0"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|x-large"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"61%"} -->
<div class="wp-block-column" style="flex-basis:61%"><!-- wp:post-date {"format":"Y/m/d","style":{"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"x-small"} /-->

<!-- wp:post-title {"textAlign":"left","level":1,"align":"wide","fontFamily":"secondary"} /-->

<!-- wp:group {"metadata":{"name":"Tags"},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","className":"post-meta","style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"var:preset|spacing|large"}}},"fontSize":"small","layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-group alignwide post-meta has-small-font-size" style="border-radius:5px;margin-top:var(--wp--preset--spacing--large)"><!-- wp:jet-engine/dynamic-terms {"from_tax":"shourei-type","className":"wp-block-jet-engine-dynamic-terms jet-sm-gb-wrapper jet-sm-gb-4fea3e44-3448-45e0-90ce-89a7815818de","blockID":"jet-sm-gb-4fea3e44-3448-45e0-90ce-89a7815818de"} /-->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-eyes","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"1","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9","blockID":"jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9"} /-->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-nose","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"2","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9","blockID":"jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9"} /-->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-face","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"4","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9","blockID":"jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"fontSize":"small","layout":{"type":"default"}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"39%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:39%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"border":{"width":"1px"}},"backgroundColor":"tertiary","borderColor":"border-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-border-light-border-color has-tertiary-background-color has-background" style="border-width:1px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">施術日</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-date","dynamic_field_filter":true,"filter_callback":"jet_engine_date","date_format":"Y/m/d","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13","blockID":"jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">性別</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"gender","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"5","date_format":"Y/m/d","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13","blockID":"jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">年齢</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"gender_copy","hide_if_empty":true,"dynamic_field_filter":true,"filter_callback":"number_format","dynamic_field_custom":true,"dynamic_field_format":"%s歳","date_format":"Y/m/d","num_dec_point":"","num_thousands_sep":"","num_decimals":0,"className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13","blockID":"jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">費用</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"price","dynamic_field_filter":true,"filter_callback":"number_format","dynamic_field_custom":true,"dynamic_field_format":"\\ %s","date_format":"Y/m/d","num_decimals":0,"className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13","blockID":"jet-sm-gb-e466add7-d16f-409a-acb3-3063fa63ca13"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Latest Work"},"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--medium);padding-bottom:0;padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Projects"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|large"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"metadata":{"name":"Project Row"},"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|x-large"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"metadata":{"name":"Project"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">施術前</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"before","dynamic_field_filter":true,"filter_callback":"jet_engine_img_gallery_grid","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75","blockID":"jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"metadata":{"name":"Project"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">施術直後</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"after","dynamic_field_filter":true,"filter_callback":"jet_engine_img_gallery_grid","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75","blockID":"jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"metadata":{"name":"Project Row"},"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|x-large"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"metadata":{"name":"Project"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">施術１週間後</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"after-1week","dynamic_field_filter":true,"filter_callback":"jet_engine_img_gallery_grid","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75","blockID":"jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"metadata":{"name":"Project"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">施術１か月後</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"after-1month","dynamic_field_filter":true,"filter_callback":"jet_engine_img_gallery_grid","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75","blockID":"jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"metadata":{"name":"Project Row"},"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"metadata":{"name":"Project"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-small"} -->
<p class="has-x-small-font-size" style="font-style:normal;font-weight:700">施術３か月後</p>
<!-- /wp:paragraph -->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"after-3months","dynamic_field_filter":true,"filter_callback":"jet_engine_img_gallery_grid","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75","blockID":"jet-sm-gb-f22606a1-65c4-4136-b5e7-6dc9e3eecc75"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Tags"},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","className":"post-meta","style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"var:preset|spacing|large"}}},"fontSize":"small","layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-group alignwide post-meta has-small-font-size" style="border-radius:5px;margin-top:var(--wp--preset--spacing--large)"><!-- wp:jet-engine/dynamic-terms {"from_tax":"shourei-type","className":"wp-block-jet-engine-dynamic-terms jet-sm-gb-wrapper jet-sm-gb-4fea3e44-3448-45e0-90ce-89a7815818de","blockID":"jet-sm-gb-4fea3e44-3448-45e0-90ce-89a7815818de"} /-->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-eyes","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"1","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9","blockID":"jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9"} /-->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-nose","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"2","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9","blockID":"jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9"} /-->

<!-- wp:jet-engine/dynamic-field {"dynamic_field_source":"meta","dynamic_field_post_meta":"operation-face","dynamic_field_filter":true,"filter_callback":"jet_engine_label_by_glossary","labels_by_glossary":"4","className":"wp-block-jet-engine-dynamic-field jet-sm-gb-wrapper jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9","blockID":"jet-sm-gb-5ed16d4b-4d99-4a52-b759-cbb65f04c3a9"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|medium","top":"var:preset|spacing|x-large"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--medium)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"chevron","fontSize":"small"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"chevron","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-button-brand","style":{"spacing":{"padding":{"left":"var:preset|spacing|large","right":"var:preset|spacing|large","top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}},"border":{"radius":"50px"}}} -->
<div class="wp-block-button is-style-button-brand"><a class="wp-block-button__link wp-element-button" href="/case-gallery" style="border-radius:50px;padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--large)">症例データ一覧に戻る</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Podcast Episodes"},"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|xx-large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|medium","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:separator {"align":"wide","className":"is-style-separator-thin","style":{"spacing":{"margin":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"border-light"} -->
<hr class="wp-block-separator alignwide has-text-color has-border-light-color has-alpha-channel-opacity has-border-light-background-color has-background is-style-separator-thin" style="margin-top:var(--wp--preset--spacing--small);margin-bottom:var(--wp--preset--spacing--xx-large)"/>
<!-- /wp:separator -->

<!-- wp:heading {"level":3,"fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size">関連する症例データ</h3>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|large"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:jet-engine/listing-grid {"lisitng_id":"491","columns":"2","columns_tablet":"1","_block_id":"667a6aa0-6614-4daa-b145-95b6cceed6cd","className":"wp-block-jet-engine-listing-grid jet-sm-gb-wrapper jet-sm-gb-667a6aa0-6614-4daa-b145-95b6cceed6cd","blockID":"jet-sm-gb-667a6aa0-6614-4daa-b145-95b6cceed6cd"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:separator {"align":"wide","className":"is-style-separator-thin","style":{"spacing":{"margin":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"border-light"} -->
<hr class="wp-block-separator alignwide has-text-color has-border-light-color has-alpha-channel-opacity has-border-light-background-color has-background is-style-separator-thin" style="margin-top:var(--wp--preset--spacing--small);margin-bottom:var(--wp--preset--spacing--xx-large)"/>
<!-- /wp:separator -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">ここは表示されている患者さまと似た症例データを絞り込んで表示する予定です。🎯</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">一覧ページでは症例別、年代別、性別などはもちろん、「３０代 x 女性 x 二重埋没」など絞り込みを実装すれば、自分たちも探しやすいし、潜在的な顧客ユーザーへのリーチも効果的。Googleさんも「体験もの Experience」は、特に重視しているので一石二鳥</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->